<p>moderation works!</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Author</th>
            <th>Article</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@for (comment of comments(); track comment.id)
{
    <tr>
        <td>{{ comment.id}}</td>
        <td>{{ comment.content }}</td>
        <td>{{ comment.article.id }}</td>
        <td>{{ comment.commentAuthor}}</td>
        <td>{{ comment.createdAt|date:'dd/MM/yyyy'}}</td>
        <td>
            <button (click)="deleteComment(comment.id)">Delete</button>

            <!-- <button>Approve</button> -->
            <select (change)="updateComment(comment.id, $event)">
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
            </select>
        </td>
    </tr>

}
    </tbody>
</table>